<h1><strong>Ask your coach for anything!</strong></h1>
<br>
<form action="answer" data-turbo="false">
  <input type="text" name="question">
  <input type="text" name="password">
  <input type="submit" value="Ask!">
</form>
